# Python
__pycache__/
*.pyc
*.pyo

# Virtual Env
.venv/

# Environment variables
.env

# Streamlit
.streamlit/

# OS files
.DS_Store

# Logs
logs/

# Uploaded resumes
uploads/resumes/# Python
__pycache__/
*.pyc
*.pyo

# Virtual Env
.venv/

# Environment variables
.env

# Streamlit
.streamlit/

# OS files
.DS_Store
